.container {
    margin-bottom: 3em;
}

img {
    max-width: 100%;
    margin: 1em 0;
}

.project-thumbnail-img-container {
    height: 250px;
    display: table-cell;
    vertical-align: middle;
} /* TODO IE8 version & test cross browser, see http://www.brunildo.org/test/img_center.html */

#video-container {
    width: 500px;
    display: block;
    margin: 2em auto;
}

/* with credit to the sidebar nav on http://getbootstrap.com/2.3.2/components.html */
.nav.nav-list.affix {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    width: 150px;
    padding: 0;
}
.nav.nav-list.affix > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.nav.nav-list.affix > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.nav.nav-list.affix > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.nav.nav-list.affix .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: 0.25;
}

.bodycontainer, .span8 {
    border: 1px solid #ccc;
    padding:50px;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
