<html lang="en">
    <head>
        <title>ofStreamer</title>

        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/app.css">
    </head>
    <body>

        <div class="container">

            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">ofStreamer</a>
                    <ul class="nav">
                      {% for page in pages %}
                        <li class="{%- if current_page['tabname'] == page['tabname'] -%} active {%- endif -%}">
                            <a href="/{{page['path']}}">{{page['tabname']}}</a>
                        </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>

        {% block body %}

        {% endblock body %}

        </div>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script> 
            <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
            <script src="/static/js/underscore-min.js"></script>
        {% block js %}
        {% endblock js %}
    </body>
</html>
