{% extends "base.html" %}

{% block body %}



<div class="bodycontainer">
	<div class="row">
	        <img class="center-block" src="/static/img/OFStreamerDiagram.jpg">
	</div>

	<p> OFStreamer is a open source toolkit that makes it easier to develop networked peer-to-peer applications in OpenFrameworks. It is a collection of addons, examples and tutorials to help solve difficult networking problems such as initializing a session, NAT traversal, stream sychronization, compression and latency. OFStreamer wraps sevearal powerful GStreamer Libraries to enable developers to stream custom formats. OFStreamer includes examples that allow you to stream audio, video, depth, OSC metadata, and data files within a single application. </p>

</div>
{% endblock body %}
